body {
    background-color: #8D85D1;
    margin: 0;
}

#equipa {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.pessoa{
    padding: 0 3%;
    width: 100%;
}

.pessoa img{
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}


p {
    font-size: 30px;
    font-family: Roboto;
    color: white;
    padding: 20px 0;
    text-align: center;
}
