body {
    background-color: #8D85D1;
    margin: 0;
}
#equipa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}
#equipa div{
    margin-left: 50px;
}

#equipa_img {
padding: 20% 0;}

.pessoa{
    padding: 0 3%;
    width: 100%;
}

.pessoa img{
    border-radius: 50%;
    width: 13vw;
    height: auto;
    object-fit: cover;
}
.pessoa p {
    text-align: center;
}
#equipa h1 {
    font-family: Roboto;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
}

p {
    font-family: Roboto-Light;
    font-size: 16px;
    width: 60%;
    color: #ffffff;
    padding:  5% 0%;
}
