body {
    background-color: #8D85D1;
    margin: 0;
}

#equipa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}

#equipa > div:first-child {
    width: 60%;
    margin: 0 auto;
}

#equipa_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pessoa img {
    border-radius: 50%;
    width: 13vw;
    object-fit: cover;
    min-width: 150px;
}

#equipa h1 {
    font-family: Roboto;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
}

p {
    font-family: Roboto-Light;
    font-size: 16px;
    color: #ffffff;
    padding: 5% 0%;
}

@media only screen and (max-width: 600px) {
    #equipa{
        grid: auto 1fr/ 1fr;
        margin-top: 80px;
    }

    #equipa_img{
        grid: 1fr 1fr 1fr/ 1fr;
    }

    #equipa > div:first-child {
        width: 90%;
    }
}