body {
    background-color: #8D85D1;
    margin: 0;
}

h1 {
    font-family: Roboto;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
}

p {
    font-family: Roboto-Light;
    font-size: 18px;
    color: #ffffff;
    padding: 5% 0%;
}

span {
    font-size: 14px;
}

#coimbra_ft {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
    min-height: 100vh;
}

#intro >div:first-child {
    width:60%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    #intro {
        grid: 1fr auto/ 1fr;
        margin-top: 80px;
    }

    p {
        width: 100%;
    }

    #intro >div:first-child {
        margin: 0 auto;
        width: 90%;

    }

    #coimbra_ft {
        width: 100vw;
    }
}

/*
a{
    color: #8D85D1;
    padding: 1% 2%;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    transition: 0.3s;
    font-size:1.2rem ;
}

button{
border: none;
    background-color: #ffffff;
}*/
