#intro{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#mapid {
    height: 100%;
    width:50%; }

#welcome{
    background-color: var(--purple);
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#welcome h1{
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1%;
}

#divisao{
    padding: 3% 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#divisao h1 hover{
    cursor: pointer;
}


