#intro{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid: 1fr/ 1fr 1fr;
}

#mapid {
    height: 100%;
    width:100%;
}

#pal{
    background-color: var(--purple);
    width:100%;
}

#divisao{
    height: 100%;
    font-family: Roboto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 3% 6%;
}

#divisao h1{
    color: white;
    text-transform: uppercase;
    margin: 3%;
    display:inline-block;
    object-fit: cover;
}



#divisao h1 :hover{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    #intro{
        grid: 1fr 1fr/ 1fr;
    }

    #divisao h1{
        font-size: 16px;
    }

    .burger span, .burger span::before, .burger span::after{
    background: #8D85D1;
    }

    }

