#intro{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#mapid {
    height: 100%;
    width:50%;
}
#pal{
    background-color: var(--purple);
    width:50%;
}

#divisao{
    font-family: Roboto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 3% 6%;

}

#divisao h1{
    color: white;
    text-transform: uppercase;
    font-size: 2vw;
    padding: 1%;
}

#divisao h1 :hover{
    cursor: pointer;
}


